Repository slackhq/vitess, pull requests merged in 2025-05, with the labels that each got.

#646 `slack 21.0`: backport v22/v23 VTOrc improvements, part 3
  go/vt/topo/consultopo/server.go
  go/vt/topo/consultopo/server_flaky_test.go
  go/vt/vtorc/logic/tablet_discovery.go
  go/vt/vtorc/logic/topology_recovery.go
  go/vt/vtorc/logic/vtorc.go
  go/vt/vtorc/logic/vtorc_test.go
Labels: upstream-backport, v22-backport, Component: VTOrc, v21, v23-backport

#647 `slack-21.0`: backport vitessio/vitess#17244
  go/flags/endtoend/vtcombo.txt
  go/flags/endtoend/vttablet.txt
  go/sync2/consolidator.go
  go/sync2/consolidator_test.go
  go/sync2/fake_consolidator.go
  go/vt/vttablet/tabletserver/query_executor.go
  go/vt/vttablet/tabletserver/tabletenv/config.go
Labels: upstream-backport, cla:missing, Component: VTTablet, v22-backport, v21

#648 Revert upstream 13623: remove the call of verifyAllTabletsReachable in PRS
  examples/backups/restart_tablets.sh
  go/test/endtoend/reparent/plannedreparent/reparent_test.go
  go/vt/vtctl/grpcvtctldserver/server_slow_test.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/reparentutil/planned_reparenter.go
  go/vt/vtctl/reparentutil/planned_reparenter_flaky_test.go
  go/vt/vtctl/reparentutil/util.go
Labels: upstream-revert, v18-backport, v19
